[submodule "engine/glm"]
	path = engine/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/glfw"]
	path = engine/glfw
	url = https://github.com/glfw/glfw.git
[submodule "bench/benchmark"]
	path = bench/benchmark
	url = https://github.com/google/benchmark.git
[submodule "engine/renderer/opengl/gli"]
	path = engine/renderer/opengl/gli
	url = https://github.com/g-truc/gli.git
